.titleline a{
    color:#000!important;
}
table{
    background: #f6f6ef;
    width:100%;
    padding-top: 1rem;
}
.subtext {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 7pt;
    color: #828282;
}

.title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
    overflow: hidden;
}
.votearrow {
    width: 10px;
    height: 10px;
    border: 0px;
    margin: 3px 2px 6px;
    background: url("grayarrow.gif") no-repeat;
}
table a{
    text-decoration: none;
    color: #828282;
}
table a:hover{
    text-decoration: underline;
    color: #828282;
}
table .title a:hover{
    text-decoration: none;
    color: #828282;
}
.spacer{
    height:10px
}
.spacer-top,.spacer-bottom{
    height:15px;
}
